<div class="cube">
    <img class="cube"
        src="{{imageUrl}}">
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span> {{level}}</p>
    <a class="btn" href="/products/details/{{id}}">Details</a>
</div>