<main>
  <h1>Rubiks Cube</h1>
  <img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/71WS9kb-JFL._SL1300_.jpg">
  <div class="details">
    <p><span>Description:</span>Some Description....</p>
    <p><span>Difficulty level:</span> 6</p>
    <a class="btn" href="/products">Back</a>
    <a class="btn" href="/products/{{_id}}/attach">Attach</a>
  </div>
  <h2>Accessories</h2>
  <div class="accessories">
    <div class="accessory">
      <img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
      <h3>Accessory Name</h3>
      <p>Accessory Description</p>
    </div>
    <div class="accessory">
      <img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
      <h3>Accessory Name</h3>
      <p>Accessory Description</p>
    </div>
    <div class="accessory">
      <img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg" alt="stickerName">
      <h3>Accessory Name</h3>
      <p>Accessory Description</p>
    </div>
    <h3 class="italic">This cube has no accessories yet...</h3>
  </div>
</main>