<main>
  <h1>{{product.name}}</h1>
  <img class="cube" src="{{product.imageUrl}}">
  <div class="details">
    <p><span>Description:</span> {{product.description}}</p>
    <p><span>Difficulty level:</span> {{product.level}}</p>
    <a class="btn" href="/products">Back</a>
  </div>
</main>