<main>
  <h1>Register Form</h1>
  <div class="form">
    <form action="/auth/register" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" value="{{username}}">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      {{#each errors}}
      <span class="error">{{msg}}</span>
      {{/each}}
      <label for="repeatPassword">Re-Password</label>
      <input type="password" id="repeatPassword" name="repeatPassword">
      <label for="email">Email</label>
      <input type="text" id="email" name="email">
      <input type="submit" value="Register">
    </form>
  </div>
</main>